body {
    background-image: url("../images/org.jpg")
}

.container {
    background-color: black;
    height: 85%;
    width: 50%;
    margin-top: 50px;
    text-align: center;
    border: solid 5px maroon;
    border-radius: 25px;
}

p {
    font-family: 'Metamorphous', cursive;
    color: white;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#random-word {
    color: white;
    font-family: 'Metamorphous', cursive;
    margin-bottom: 50px;
    font-size: 30px;
}

#wrong-count {
    color: white;
    font-family: 'Metamorphous', cursive;
    margin-bottom: 10px;
    font-size: 20px;
}

#letters {
    color: white;
    font-family: 'Metamorphous', cursive;
    font-size: 20px;
}